.swiper-container {
  position: relative;
}

.text-overlay {
    animation: unset !important;
  animation:none;
  z-index: 9999;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;

}

.text-overlay h3 {
  animation: unset !important;

  opacity: 1;
  margin: 0;
  color: #fff; /* Color del texto */
}
#gg{
  font-size: 10px;
  animation:none !important;
}

.tite {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tite {

  text-align: center;
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #ffffff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2vh;
  font-family: "Source Sans Pro", sans-serif;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
  20% {
    letter-spacing: 0px;
  }

  100% {
    background-size: 300% 300%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}


.__area.active {
  background-color: rgba(0, 0, 0, 0.534);
  max-width: 100%;
  position: fixed;
  border-radius: 0;
  top: 0;

}


:root {
  ---color--links: #2eb39a;
  --color-principal: #2B8CBE;
  --color-secundario: #4EB3D3;
  --color-claro: #f7f7f7;
  --color-h3: #2C3B4E;
  --color-blanco: #fff;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-top: 10vh;
}

.close-icon {
  font-size: 22px;
  color: var(--color-principal);
}

.menu-icon {
  font-size: 22px;
  color: var(--color-principal)
}


.navbar {
  height: 10vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: var(--color-claro) ;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  z-index: 90;
}

a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  float: left;
  display: block;
  color: var(---color--links);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 15px;
}

.nav-link:hover,
.nav-link.active {
  color: white;
  border-radius: 12px;
  background-color: var(--color-secundario);
  transition: all 0.5s ease-in-out;
}

.navbar a.active {

  background-color: var();
  color: white !important;
}

.navbar .icon {
  display: none;
}

.responsive {
  height: auto;
  border-radius: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .navegacion a:not(:last-child) {
    display: none;
  }

  .navbar a.icon {
   
    float: right;
    display: block;
  }

  .responsive.navbar {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    top: 0;
    position: absolute;
    right: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

.navbar a.close- {
  color: white;
  content: "X";
}



/* hero */

/* hero--imagen */

.portada {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {

  width: 100%;
  height: 77vh;
  background: url("./img/rsz_hero.jpg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
  background-attachment: fixed;
}

.img1::before {
  content: "";
 
  /* Agrega un pseudo-elemento antes del contenido del contenedor */
  /* position: absolute; */
  /* Permite que el pseudo-elemento se posicione de manera absoluta en relación al contenedor */
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; */
  /* Color de la capa */
  /* opacity: 0.5; */
  /* Opacidad de la capa */
}

/* .portada-text {

  background-color: rgba(0, 0, 0, 0.171);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border: 4px solid var(--color-secundario);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 9px;
  max-width: 85vh;
  padding: 16px;
  text-align: center;
} */


/* card */

.flip-card-front img {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

@media (main-width:1024) {
  .flip-card-front img {
    border-radius: 12px;
    height: 344px;
    width: 100%;
    object-fit: cover;
  }
}

.flip-card {
  width: 275px;
  height: 342px;
  border-radius: 12px;
  margin: 30px;
  background-color: transparent;

  perspective: 1000px;
}

.flip-card-inner {
  border-radius: 12px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */

.flip-card-front,
.-card-back {
  border-radius: 12px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* .flip-card-back h1 {
  margin-bottom: -4px;
  padding-top: 3px;
  font-size: 23px;
  color: var(--color-claro);
}

.flip-card-back p {
  padding: 0px 17px;
} */

.flip-card-front {
  border-radius: 9px;
  background-color: #bbb;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .flip-card-back {
  border-radius: 12px;
  background: rgb(8, 196, 185);
  background: linear-gradient(90deg, rgba(8, 196, 185, 0.8547794117647058) 50%, rgba(1, 158, 205, 0.9416141456582633) 90%, rgba(0, 156, 112, 0.8295693277310925) 100%);
  color: white;
  transform: rotateY(180deg);
} */

#card {
  background-color: var(--color-claro);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flip-card-front img {

  border-radius: 12px;
  width: 220px;
  height: 100%;
  width: 100%;
}

.logo {
  margin-top: 5px;
  width: 100%;
  max-height: 9.2vh;
}

.navegacion {
  margin-right: 25px;
  justify-content: space-around;
  display: flex;

}

.navbar {
  display: flex;
}

.responsive .navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* preguntas frecuentes */
.preguntas-frec {
  padding-bottom: 2rem;
  padding-top: 2rem;

  width: 85%;
  margin: auto;
}







.preguntas-frec {
  margin-bottom: 52px;
}

h1 {
  font-size: 27px;
  color: rgb(49, 49, 49);
  font-family: 'Lexend Deca', sans-serif;
}



button {

  border-width: 3px;
  cursor: pointer;
  color: var(--color-principal);
  border-color: var(--color-principal);
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  font-family: 'Lexend Deca', sans-serif;
  padding: 10px;
  border-radius: 9px;
}




/* 
  pregutasrfercuentes */


#preg--frecuentes {

  flex-direction: column;
  display: flex;
  justify-content: space-around;
  margin-bottom: 17px;
  height: 100%;
  background: rgb(8, 196, 185);
  background: linear-gradient(90deg, rgb(13 133 169) 16%, rgb(25 139 122 / 94%) 79%, rgb(0 135 97) 100%)}

.preguntas-frec h1 {
  text-shadow: 1px 2px 3px grey;
  color: rgb(236, 236, 236);
}

.collapsible {
  text-align: initial;
  font-weight: 200;
  border-right: 0px;
  border-radius: 0px;
  border-left: 0px;
  border-bottom: 0px;
  background-color: transparent;
  /* text-shadow: 1px 2px 3px grey; */
  color: white;
  width: 100%;
  padding: 0.5rem 0;
  border-top: 2px solid #9cffff;
  position: relative;
  cursor: pointer;
  font-size: 1.15rem;
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}



.active,
.collapsible:hover {}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #ffffff;
}


#hero {
  width: 100%;
  height: calc(108vh - 70px);
  background: url("img/rsz_hero.jpg") center center;
  background-size: cover;
  position: relative;
  margin-top: -88px;
  padding: 0;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.425);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  z-index: 2;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: white;
}

#hero h2 {
  color: #02296e;
  margin-bottom: 35px;
  font-size: 24px;
}

.btn-get-started {

  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 19px;
  border-radius: 4px;
  transition: 0.5s;
  border: 2px solid var(---color--links);;
  color: #fff;
}

.btn-get-started:hover {
  font-weight: 700;
  font-size: 17px;
  color: #ffffff;
  border-color:  #fff;
  background: #74747467;
}

/* @media (min-width: 1024px) { */
#hero {
  background-attachment: fixed;
}


@media (max-width: 992px) {
  #hero {

    height: calc(85vh - 94px);
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.titulo-color {
  color: var(--color-secundario);
}

.titulo-color-dos {
  color:rgb(35, 226, 140);
  ;
}

h1 {

  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}



.butcard {
  font-family: 'Montserrat', sans-serif;
  ;
  font-weight: 600;
  cursor: pointer;
  /* position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%); */
  border: 2px solid var(---color--links);
  color: var(--color-principal);
  background-color: rgba(255, 255, 255, 0.849);
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: rgb(49, 49, 49);
  text-align: center;
}

h3 {
  text-align: center;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: var(--color-h3);

  font-family: 'Poppins', sans-serif;
}

.preguntas-frec h2 {
  margin-bottom: 69px;
  margin-left: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.social-links {
  margin-bottom: 13px;
  max-width: 320px;
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 0.875rem 72px 0.875rem 1.75rem;
  background-color: #039be5;
  background-image: linear-gradient(to top right, #039be5, #29b6f6);
  color: #ffffff;
  font-size: 15px;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: none;
  transition: all .6s ease;
}

.social-links span {
  background-color: rgb(41 172 140);
  display: grid;
  position: absolute;
  right: 0;
  place-items: center;
  width: 3rem;
  height: 100%;
}

.social-links span svg {
  width: 1.9rem;
  height: 1.9rem;
}

.social-links:hover {
  box-shadow: 0 4px 30px rgba(4, 175, 255, .1), 0 2px 30px rgba(11, 158, 255, 0.06);
}

.contacto {
  background-color: var(--color-claro0);
  align-items: baseline;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contenedor-social-links h3{
width: 27vw;
font-size: 17px;
}
.contenedor-social-links {

  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  height: 30vh;
}

.designby {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: auto;
  background: linear-gradient(90deg, rgba(8, 196, 185, 0.9472163865546218) 16%, rgba(1, 158, 205, 0.9416141456582633) 49%, rgba(0, 156, 112, 0.8295693277310925) 100%);
}

.designby a {
  font-size: 14px;
  padding: 9px;
  color: white;
  float: none;
}

.designby a {
  font-weight: 600;}


html {
  scroll-behavior: smooth;
}

.contacto {
  margin-bottom: 41px;
}

h2 {
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  /* Cambiar el ancho según lo necesites */
  height: 2px;
  background-color: var(--color-principal);
}

.preguntas-frec h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 370px;
  /* Cambiar el ancho según lo necesites */
  height: 2px;
  background-color: #9cffff;
}

.box-info h3{
  color: #fcfcfc;
z-index: 22;
  text-align: center;
}

.logo-cont {
  margin-left: 25px;
}

@media (max-width: 767px) {

  .navegacion {
    margin-right: 1px;
  }

  .logo-cont {
    margin-left: -10px;
  }
   .titi{
    width: 80vw;
   }
   #tituloheader{
    font-size: 26px;
   }
   
   
}



.navbar.scrolled {
  background-color: var(--color-claro);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .navbar a {
    color: var(---color--links);
  }
}

.navbar a:not(:first-child):hover {
  color: white !important;
}

.titulo {
  background-color: var(--color-claro);
}

.formas-de-pago {
  margin-top: 22px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.formas-de-pago img,
.formas-de-pago svg {
  margin-bottom: -22px;
}

.mapa {
  text-align: center;
  max-width: 30vw;
  margin-bottom: 22px;
  margin-top: 22px;
}





@media only screen and (max-width: 1024px) {

  .icon-tarj {
    width: 159px;
    height: 129px;
  }

  .logo {
    max-height: 8.7vh;
  }

  #texto p {
    margin-bottom: 12px;
    font-size: 16px;
  }

  #texto h4 {
    line-height: 1.1;
    margin-bottom: 7px;
    font-size: 19px;
    text-transform: uppercase;
    margin-top: 14px;
  }
}

.flip-card-back .social-links {
  margin-bottom: -3px;
  max-width: 320px;
  padding: 11px 59px;
  font-size: 12px;
  line-height: 1.25rem;
  font-weight: 400;
  padding-left: 31px;
}

.flip-card-back .contenedor-social-links {
  margin-top: 35px;
  align-items: center;
  margin-bottom: 35px;}

.flip-card-back img {
  width: 30px;
}

.flip-card-back p {
  margin-top: 6px;
}

.texto h4 {
  color: var(---color--links);
  line-height: 1.1;
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  margin-top: 16px;
  padding: 0px 17px;
  margin-bottom: -9px;
}

  #whatsapp-logo {
    max-width: 53px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }


  .mapa h3{
    margin-bottom: 16px;
font-size: 17px;
  }

  .form-container {
    margin-top: 20px;
    text-align: center;
  }

  .form-container input,
  .form-container textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  /* .form-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  .formulariocontacto{
    max-width: 30vw;
  }

  @media (max-width: 767px) {
    .mapa{
      max-width: 90vw;
      text-align: center;
    }
    .contenedor-social-links h3 {
      width: 90vw;}
    .formulariocontacto{
      max-width: 94vw;
    }
    .flip-card {
      height: 62vh;
      width: 89vw;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
  
  .my-swal-text {
    font-size: 10px;
  
  }
  
  .my-swal-background {
    background-color: #b7fdfddc;
  }
  
  
  
  #forma-de-pago svg,
  img {
    cursor: pointer;
  }
  
  p {
    color: var(--color-h3);
  }
  
  .contenedor-social-links img {
    width: 30px;
  }
  
  #forma-de-pago {
    background: url(img/patrones/white_wall_hash.webp);
    margin-top: -27px;
    padding-bottom: 35px;
  }
  
  #forma-de-pago h2 {
    padding-top: 54px;
  }
  
  .contenedor-social-links a {
    padding: 0;
  }
  
  
  .icon-tarj {
    width: 28px;
    height:28px;
  }
  


  #myForm .butcard {
    margin-left: 103px;
    position: static;
  }
  #texto p {
    margin-bottom: 12px;
    font-size: 16px;
  }
  div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    font-size: 16px;
  }
 
  
  
  .font-size-17px {
    font-size: 15px !important;
    margin-top:-12px !important;
  }
  
  #texto p:last-child {
    margin-bottom: 3px;
  }
  

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }

  .swiper-title {
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(0 0 0 / 11%);
    padding: 20px;
    z-index: 10;
  }
  .tite h1{
    font-size: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #nosotros {
    width: 100%;
    height: auto;
    background: url("./img/paisaje.jpg") top center;
    background-size: cover;
    position: relative;
    padding: 0;
    background-attachment: fixed;
  }
  
  #nosotros:before {
    content: "";
    background: rgb(0 0 0 / 33%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .box-info {
    color: white; 
    position: relative;
    z-index: 1; 
  }
  
  .box-info h3 {
    color: white;
    padding-bottom: 40px;
  }
  #nosotros h2{

    padding-top: 60px;
    color: var(--color-claro);
  }

  .contenedor-sec-puerta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

  }
 
    #puerta-a-puerta img{
  width: 45vw;
    }
    #puerta-a-puerta h3{
      width: 40vw;
    }
  
  
  @media (max-width: 767px) {
  #puerta-a-puerta img{
width: 93vw;
  }
  #puerta-a-puerta h3{
    width: 90vw;
  }
}

.logo-nuevo{
  max-width: 20%;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card p {
  display: flex;
  font-size: 17px;
  font-weight: 700;
  height: 30%;
  padding: 6px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content: space-around;
  align-items: center;
color: var(---color--links);
}
.card p:last-child{
color: gray;
}

.card {
  padding-bottom: 13px;
  width: 300px;
  height: auto;
  background-color:rgba(255, 255, 255, 0.849);
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid var(---color--links);
    color: var(--color-principal);
}

.but-form{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card .boton-card:hover{
background-color: var(---color--links);

border-color: var(--color-secundario);}