:root {
  ---color--links:#2eb39a;
  --color-principal: #2B8CBE;
--color-secundario: #4EB3D3;
  --color-claro: #f7f7f7;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
main{
margin-top: 10vh;
}
.icon{
  color: var(--color-principal);
  font-size: 22px;
}

.navbar {
  height: 10vh;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: var(--color-claro);  
  transition: max-height 0.5s ease-out;
  width: 100%;
  z-index: 90;
}

 a {
  font-weight: 600;
  float: left;
  display: block;
  color:var(---color--links);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  
  border-radius: 12px;
  background-color:var(--color-secundario);
  color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
}

.navbar a.active {
  
  background-color: #04AA6D;
  color: white;
}

.navbar .icon {
  display: none;
}
.responsive{
 height: auto;
border-radius: 22px;
display: flex;
align-items: center;
flex-direction: column
;}

@media screen and (max-width: 600px) {
  .navegacion a {display: none;}
  .navbar a.icon {
    color: var(--color-principal);
    float: right;
    display: block;
  }

  .responsive.navbar {
    height: auto;
}}

@media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    top: 0;
    position: absolute;
    right: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
.navbar a.close-icon {
    content: "X";
  }


  
  /* hero */

  /* hero--imagen */

.portada {
  height: 50%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {

  width: 100%;
  height: 77vh;
  background: url("./img/hero.webp") top center;
  background-size: cover;
  position: relative;
  padding: 0;
  background-attachment: fixed;
}

.img1::before {
  content: ""; /* Agrega un pseudo-elemento antes del contenido del contenedor */
  position: absolute; /* Permite que el pseudo-elemento se posicione de manera absoluta en relación al contenedor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Color de la capa */
  opacity: 0.5; /* Opacidad de la capa */
}

.portada-text {
  
  background-color: rgba(0, 0, 0, 0.171);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border: 4px solid var(--color-secundario);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 9px;
  max-width: 85vh;
  padding: 16px;
  text-align: center;
}


  /* card */
  
  .flip-card-front img{
    height: 225px;
    width: 100%;
    object-fit: cover;
  }
  @media (main-width:1024){
    .flip-card-front img{
      border-radius: 12px;
        height: 344px;
        width: 100%;
        object-fit: cover;
      }}
  .flip-card {
    border-radius: 12px;
    margin: 30px;
    background-color: transparent;
    width: 320px;
    height: 387px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    border-radius: 12px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  /* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */
  
  .flip-card-front, .flip-card-back {
    border-radius: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    border-radius: 12px;
    background-color: #bbb;
    color: black;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .button-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .flip-card-back {
    border-radius: 12px;
    background: rgb(8,196,185);
    background: linear-gradient(90deg, rgba(8,196,185,0.8547794117647058) 50%, rgba(1,158,205,0.9416141456582633) 90%, rgba(0,156,112,0.8295693277310925) 100%);
    color: white;
    transform: rotateY(180deg);
  }

  #card{
    border-radius: 12px;
display: flex;
justify-content: center;
flex-wrap: wrap;
  }
  .flip-card-front img{
    border-radius: 12px;
width: 220px;
height: 100%;
    width: 100%;
  }

  .logo{
    width: 100%;
    max-height: 7vh;
  }
  .navegacion{
    display: flex;
;
  }
  .navbar{
    display: flex;
  }
  .responsive .navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* preguntas frecuentes */
  .preguntas-frec {
    padding-top: 4rem;
    width: 75%;
    margin: auto;
  }
  .preguntas-frec h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  details[open] summary ~ * {
    animation: open 2s ease-in-out;
  }
  
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  details summary::-webkit-details-marker {
    display: none;
  }
  
  details summary {
    color: white;
    width: 100%;
    padding: 0.5rem 0;
    border-top: 2px solid #9cffff;
    position: relative;
    cursor: pointer;
    font-size: 1.50rem;
    font-weight: 300;
    list-style: none;
  }
  
  details summary:after {
    content: "+";
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
  }
  details[open] summary:after {
    transform: rotate(45deg);
    font-size: 2rem;
  }
  details summary {
    outline: 0;
  }
  details p {
    color: white;
    font-size: 1.22rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
  }
  .preguntas-frec{
margin-bottom: 52px;
  }
  h1{
    color: rgb(49, 49, 49);
    font-family: 'Lexend Deca', sans-serif;
  }
  button:hover{
    background-color: rgba(255, 255, 255, 0.863);
  }
  button{
    cursor: pointer;
    color: var(--color-principal);
    border-color:  var(--color-principal);
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    font-family: 'Lexend Deca', sans-serif;
    padding: 10px;
    border-radius: 9px;
  }
  .ht{
    color: var(--color-principal);
  }


  #preguntas-frec{
    height: 59vh;
    background: rgb(8,196,185);
    background: linear-gradient(90deg, rgba(8,196,185,0.9472163865546218) 16%, rgba(1,158,205,0.9416141456582633) 49%, rgba(0,156,112,0.8295693277310925) 100%);}
  .preguntas-frec h1{
color: rgb(236, 236, 236);
  }